{% extends "templateBase.html" %}
{% load static %}
{% block inicio %}
    <p>{{hora}}</p>
{% endblock  %}
{% block contenido %}
    {% if carreras %}
        <h2>Listado de Carreras</h2>
        <ul>
            {% for carrera in carreras %}
                <li>{{ carrera }}</li>
                <a href="{% url 'modificar_carrera' carrera.id %}">✏️ Modificar</a> |
                <a href="{% url 'eliminar_carrera' carrera.id %}" onclick="return confirm('¿Seguro que quieres eliminar esta carrera?');">❌ Eliminar</a>
            {% empty %}
                <li>No hay carreras disponibles.</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay carreras disponibles.</p>
    {% endif %}
{% endblock %}
