<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href={% url "inicio" %}>Inicio</a>
        <a href={% url "agregar_carrera" %}>Agregar Carrera</a>
        <a href={% url "agregar_piloto" %}>Agregar Piloto</a>
        <a href={% url "listado_de_puntos" %}>Listado</a>
    </nav>
    <h1>Listado de Puntos</h1>
    <form action="">
        {{formulario}}
        <input type='submit' value='Buscar'>
    </form>
    {% if pilotos %}
    <ul>
        {% for piloto in pilotos %}
        <li>
            {{piloto}}
        </li>
        {% endfor %}
    </ul>
        
    {% else %}
    <p>No hay puntos cargados.</p>
    {% endif %}
</body>
</html>