{% extends "templateBase.html" %}
{% load static %}
{% block title_head %}Listado De Puntos{% endblock  %}

{% block contenido %}
    <h1>Listado de Puntos</h1>
    <form action="">
        {{formulario}}
        <input type='submit' value='Buscar'>
    </form>
    {% if pilotos %}
    <ul>
        {% for piloto in pilotos %}
        <li>
            {{piloto}} |
            <a href="{% url 'eliminar_piloto' piloto.id %}">❌ Eliminar</a>|
            <a href={% url "ver_piloto" piloto.id%}>Ver mas</a> |
            <a href={% url "modificar_piloto" piloto.id %}>✏️ Modificar</a> |
        </li>
        {% endfor %}
    </ul>
    
    {% else %}
    <p>No hay puntos cargados.</p>
    {% endif %}
{% endblock  %}
